<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>タレント一覧</h2>
  <form action="/">
    <input type="submit" value="TOP">
  </form>
  <table border=1>
    <tr>
        <th></th>
        <th>名前</th>
        <th>生年月日</th>
        <th>出身</th>
        <th>所属グループ</th>
    </tr>
      <% for( let row of data ) { %>
        
        <tr>
            <td><a href="/jidol/<%=row.id%>"><%= row.id %></a></td>
            <td><%= row.name %></td>
            <td><%= row.birthday %></td>
            <td><%= row.birthplace %></td>
            <td><%= row.team %></td>
        </tr>
      <% } %>
  </table>

  <form action="/public/insert2.html">
    <input type="submit" value="追加">
  </form>
</body>
</html>