<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>タレント紹介</h2>
  <form action="/">
    <input type="submit" value="TOP">
  </form>
  <table border=1>
    <tr>
        <th></th>
        <th>名前</th>
        <th>生年月日</th>
        <th>出身</th>
        <th>所属グループ</th>
    </tr>
      <% for( let row of data ) { %>
        
        <tr>
            <td><%= row.id %></td>
            <td><%= row.name %></td>
            <td><%= row.birthday %></td>
            <td><%= row.birthplace %></td>
            <td><%= row.team %></td>
        </tr>
      <% } %>
  </table>
</body>
</html>