<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>タレント紹介</h2>
  <form action="/">
    <input type="submit" value="TOP">
  </form>
  <table border=1>
    <tr>
        <td></td>
        <td>名前</td>
        <td>生年月日</td>
        <td>出身</td>
        <td>所属グループ</td>
    </tr>
      <% for( let row of data ) { %>
        
        <tr>
            <td><%= row.id %></td>
            <td><%= row.name %></td>
            <td><%= row.birthday %></td>
            <td><%= row.birthplace %></td>
            <td><%= row.team %></td>
        </tr>
      <% } %>
  </table>
</body>
</html>