<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>都道府県ごとの人口</h2>
  <table border="1">
      <% for( let row of data ) { %>
        <tr>
            
            <td><a href='/db/<%= row.id %>'><%= row.id %></a></td>
            <td><a href='/db/<%= row.都道府県 %>'><%= row.都道府県 %></a></td>
            <td><a href='/db/<%= row.人口 %>'><%= row.人口 %></a></td>
            
        </tr>
      <% } %>
  </table>
</body>
</html>
